

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,500;0,700;1,300&display=swap');



body {
  background-image:url(/assets/img/style.jpeg);
  background-size: cover;
}

main {
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.board {
  margin: 0 auto;
 

}
.main-board {
  width: 798px;
}
.user-board {
  width: 504px;
  margin-bottom: 24px;
}
.cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  display: inline-block;
  color: rgba(198, 0, 0, 0.89);
  
}
.t-center {
  text-align: center;
  color: red;
}

.btn {
  width: 10%;
  margin-top: 20px;
  padding: 5px;
  background-color: #C79360;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.input-field {
  width: 10%;
  margin-top: 20px;
  padding: 5px;
}
input:focus {
  outline: none;
}
.highlight {
  background-color: #E6A384;
}

#randNum {
  text-align: center;
  color: red;
}

